/* default-theme */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: calc(100% - 15px);

/*  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

.styled-table thead tr {
  background-color: #607D8B;
  color: #ffffff;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #607D8B;
}

.styled-table tbody tr:hover {
  font-weight: bold;
  color: #607D8B;
}

.styled-table .actionBtn {
	background-color: #607D8B;
	padding: 5px;
	margin: 0 3px;
	cursor: pointer;
}
/* default-theme */