#root {
	display: flex;
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, li, a {
	all: unset;
}

.side-bar-container {
	width: 200px;
}

.content {
	width: calc(100% - 200px);
	margin: 0 15px;
}