/* Page title start */
.page-title {
	padding: 20px 20px 40px 0px;
}

.page-title .title {
	margin-bottom: 20px;
}

.page-title span {
	height: 1px;
	background-color: #bdbdbd;
	display: block;
}
/* Page title end  */

/* H3 start */
.H3 {
	width: 30%;
	font-size: 1.5em;
	border-bottom: 1px dashed #bdbdbd;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* H3 end */