html {
	background-color: #f5f3ef;
}

body {
	/* font-family: monospace; */
	font-family: "Roboto";
	color: #1a1a1a;
/*	overflow: hidden;*/
}

ul, li, a {
	all: unset;
}

.main-container {
	display: flex;
	overflow: hidden;
}

.side-bar-container {
	width: 200px;
}

.content {
	width: 100%;
/*	height: 600px;*/
/*	overflow-x: hidden;*/
/*	overflow-y: scroll;*/
}

* {
	padding: 0;
	margin: 0;
}