html {
	background-color: #f5f3ef;
}

#root {
	display: flex;
	/* font-family: monospace; */
	font-family: "Roboto";
	color: #1a1a1a;
}

ul, li, a {
	all: unset;
}

.side-bar-container {
	width: 200px;
}

.content {
	width: calc(100% - 200px);
}

* {
	padding: 0;
	margin: 0;
}