.side-bar {
	background-color: #eee;
	width: calc(200px - 40px);
	height: calc(100vh - 40px);
	padding: 20px 0px 20px 40px;
}

.side-bar .logo {
	display: block;
	font-size: 24px !important;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 25px;
}

.side-bar ul {}

.side-bar ul li {
	display: block;
	color: #607D8B;
	margin-bottom: 5px;
	font-size: 14px;
	cursor: pointer;
}

.side-bar ul li a {}

.side-bar .exit-menu,
.side-bar .menu-icon {
	display: none;
}